body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  background: linear-gradient(180deg, rgb(48, 136, 77), rgb(255, 255, 255));
}
  /*
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

}


main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #194121;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #76ff64;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}
*/
a {
  
  text-decoration: none;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}

.navbar ul{
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(110, 179, 103);
}

.navbar ul li{
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px; 
  color: #000;
}

.navbar button{
  background: #000;
  color: #fff;
  padding: 12px 25px;
  border: 0;
  outline: 0;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 80vh; remove this */
}


.container h1{
  font-size: 70px;
  font-weight: 500px;
}